*{
    font-size: 12px;
    text-align: center;
}

/* img{
    width: 20px;
} */

body{
    width: 80%;
    margin: 0 auto;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    width: calc(100% / 4 - 60px / 4);
}

.text-red{
    color: red;
}

.errori{
    width: 350px;
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 5%;
    background-color: white;
    border: 1px solid red;
    color: red;
    padding: 10px;
}